@import url("https://fonts.googleapis.com/css?family=Montserrat:700,900&subset=cyrillic"); /* мы подключим шрифт по ссылке */

body {
	width: 70%; /* Размер контента 70% */
	margin: 0 auto; /* Выравнивание контента по центру */
}

.layer1 {
    float: right; /* Обтекание картинки по левому краю (сама картинка будет справа) */
   }
   
figcaption {
    font-style: italic; /* Курсивное начертание для подписи под картинками */
   }
   
table, th, td {
    border: 1px solid black; /* Параметры рамки для таблицы, ячейки, строки */
   }
   
img {
    border: 2px solid black; /* Параметры рамки для картинок */
   }
   
h1 {
  font-size: 32px; /* Заголовки первого уровня имеют размер 32px */
  }
  
h1, h2, h3 {
  font-family: "Montserrat", sans-serif; /* использумые шрифты в заголовках h1, h2, h3 */
  margin-top: 1.5em; /* Верхний отступ заголовков установлен больше нижнего (например, 1.5em), чтобы соблюсти правило внутреннего и внешнего */
  }